<div class="jumbotron">
    <div class="container">
        <h1 class="display-3 mt-4 mb-4">Symfony 3 Fresh Bootstrap</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>

        <div class="alert alert-success" role="alert">
            <p>Your application is ready at <span title="{{ 'now'|date('c') }}" >{{ 'now'|date('H:i') }}</span></p>
            <p><a href="https://bitbucket.org/rudz/fresh-symfony">https://bitbucket.org/rudz/fresh-symfony</a></p>
        </div>

        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
</div>